[2015-04-19 18:41] peterwmwong opened #3 "Safari: setting CSS width or height does nothing to set the size of the icon"
http://jsbin.com/noxaju/3/edit

Chrome (above) vs Safar (below)
![screen shot 2015-04-19 at 1 34 23 pm](https://cloud.githubusercontent.com/assets/284734/7220770/57944798-e699-11e4-841a-49ea90f66213.png)

The icon unexpectedly (and differs from 0.5 behavior) takes the size of the nearest positioned parent (as per regular CSS rules)

[2015-04-19 18:48] peterwmwong commented on #3
It appears this was introduced with the original 0.8 port: https://github.com/Polymer/core-icon/commit/735313e01e728fb52debd785d4acf2620aecafd7#diff-4a9edf7beb0e373ce4fb7397d82ef04fR64

I'm not sure if the switch to use `flex` instead of good 'ole `display: inline-block` ([0.5 version](https://github.com/Polymer/core-icon/blob/master/core-icon.css#L9)) was intentional...

As I see we can fix this

[2015-05-01 20:30] cdata commented on #3
This has been fixed by @frankiefu - thanks for raising the issue!

[2015-05-01 20:30] #3 closed, assigned to nobody

[2015-05-07 16:23] lpalmaro opened #8 "iron-icon accessibility report"
Here are the accessibility developer tools audit results:

[Warning] Images should have an alt attribute (1)[Warning] Text elements should have a reasonable contrast ratio (1)Not applicable tests (9)Passing tests (4)

The only issue here is that the icons don't have labels, so when using a screen reader, you don't receive info about what the icons are for/represent. I know this is simply a demo pa

[2015-05-10 12:08] dhpollack opened #9 "[0.9] Sizing not applied from classes"
In 0.9.0-rc.1, iron-icons can no longer be styled via a CSS class.  For some reason, the ".-iron-icon-0" class is always applied to the icon with a height and width of 24px.

[2015-05-11 05:49] alice commented on #8
Suggestion: use `alt=""` on internal `img` element.
Suggestion: don't apply `role` since in the vast majority of cases these will be presentational only. The labelling needs to come from somewhere else - e.g. in the case of an icon button, either the button text or a label on the button.

[2015-05-11 15:43] cdata commented on #8
In previous versions, the icons attempted to automatically select a label for themselves, which initially amounted to picking the icon name as the label (if available).

This starts to get in the way as soon as icons are incorporated into other widgets (ones that may or may not have an alternative label source). With this in mind, it seemed better to treat icons like img elements and expect that t

[2015-05-11 23:46] alice commented on #8
My suggestion is to apply empty alt text to the img element and not add the `img` role to the shadow host, since in the majority of cases these icons won't be "acting as" an image, but as presentation. For example, in the case of a button with a 'tick' icon and 'Ok' text, the icon should be completely hidden from AT as it's redundant with the text. In the case of a piece of UI where the icon provi

[2015-05-15 06:35] choskim opened #11 "Mention polyserve"
I think this repository--similar to most of the other repositories--should mention polyserve. Anyone new to Polymer and interested in loading `demo/index.html` most likely will confront two problems:
1) They will receive errors that the imported HTML files are not found.
2) They will change the values of the hrefs and then receives a CORS error.

[2015-05-18 21:28] mwinters-stuff commented on #9
I am seeing this too..

This is from the iron-iconset-svg demo..

iron-icon.iron-icon-0 {
  width: 24px;
  height: 24px;
  ~~display: -ms-inline-flexbox;~~
 ~~ display: -webkit-inline-flex;~~
  display: inline-flex;
 ~~ -ms-flex-align: center;~~
~~  -webkit-align-items: center;~~
  align-items: center;
  ~~-ms-flex-pack: center;~~
 ~~ -webkit-justify-content: center;~~
  justify-content: center;
}

[2015-05-19 12:08] dhpollack commented on #9
To update this issue, you can style things via the <style is="custom-style"> </style> tag, but that doesn't propogate downwards which is annoying.  So if I use the iron-icon element in multiple custom elements and I want them all to be the same size, then I have to add that custom-style to each individual custom element instead of just setting it once in a CSS file and then applying a custom style

[2015-05-26 22:36] lpalmaro commented on #8
Ping on progress? Thanks!

[2015-05-30 20:29] madoublet opened #18 "Demo URL shows 404"
The demo link in the README links to 404 error.

https://www.polymer-project.org/components/iron-icons/demo.html

[2015-05-30 20:30] madoublet commented on #18
This is the last line of text.

"See iron-icons for the default set of icons."

[2015-05-30 21:13] jatsrt opened #19 "Chrome Cannot Find Iconset"
Seeing this error in the console only on chrome.

iron-icon.html:167 [iron-icon::_updateIcon]: could not find iconset `icons`, did you import the iconset?

This happens for all iconsets that are included and I try to use.  I also tried changing the import order of iron-icons.html to before and after the iconsets are imported and nothing changes.

Icons from the icon sets show up fine in FABs and o

[2015-05-31 02:42] madoublet opened #20 "Disappearing icons in Chrome"
I have noticed an odd bug in Chrome.  The icons work as expected in both Firefox and Safari.  But, in Chrome, sometimes the icons are displayed and other times they do not.  I do not have any errors showing in the console in both cases.  If I refresh the site enough, they will show eventually.

The odd thing is that when they do not display, the rendered HTML is as follows:

[code]

When they do d

[2015-05-31 14:22] madoublet commented on #20
I did some more testing.  It appears that the icon does not load on a clear cache.  It will load every subsequent page load.  Also, it does not load if you refresh the page.

[2015-05-31 14:23] madoublet commented on #20
Also, I verified the same thing is happing if I try to load an icon outside of another web component.

[2015-06-02 02:36] mattiLeBlanc commented on #19
Yes I have the same issue: [iron-icon::_updateIcon]: could not find iconset `social`, did you import the iconset?

I am migrating from version 0.5 to 1.0 and running into a lot of issues.

[2015-06-02 03:07] mattiLeBlanc commented on #20
I have the same issue, my icons are not rendered in Chrome:

[code]

then just running this jade markup:

[code]

results in the message: [iron-icon::_updateIcon]: could not find iconset `icons`, did you import the iconset?
Works fine in Safari

Running the demo locally works fine: http://localhost:3000/components/paper-item/demo/index.html
So ...It might be related to Meteor?
I don't see anything

[2015-06-02 03:19] madoublet commented on #20
I imported the icons using the following:

[code]

I gave up on this. A quick fix is to just use the raw SVG code, so I opted for that.

[2015-06-02 19:27] kevinpschaaf commented on #9
`iron-icon` exposes a [custom-property API](https://github.com/PolymerElements/iron-icon/blob/master/iron-icon.html#L66) for sizing the icon, so you can do something like this in an element's stylesheet (or in a `<style is="custom-style">` from the main document:

[code]

Since custom properties inherit, you don't need to define this everywhere you use an icon, you can define it at the top of a tr

[2015-06-02 20:07] mwinters-stuff commented on #9
The documentation appears updated, the example in the documentation needs to change then.

[2015-06-03 06:38] sjmiles commented on #20
duplicate of #19

[2015-06-03 06:41] sjmiles commented on #19
Root cause believed to be https://github.com/PolymerElements/iron-iconset-svg/issues/10

[2015-06-04 06:36] dhpollack commented on #9
@kevinpschaaf @wintersandroid so my question is if you use ":root" to change the size of iron-icons, how would one put two different sized iron icons into the same app?  Previously, I just used normal css styles to apply one style to "small" icons and another to "big" icons, but now that doesn't seem possible.

[2015-06-04 06:44] kevinpschaaf commented on #9
The `:root` example was answering this use case:

You can also use custom properties in rules that target custom elements in a given scope, just like normal css properties:

[code]

[code]

Just be aware of some of the limitations of the custom property shim, which are discussed here: https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-properties-shim---limitations-and-api-detail

[2015-06-04 06:54] dhpollack commented on #9
for some reason that never seems to work for me.  Instead the 24px size is always applied and the class size is ignored.

[2015-06-04 18:22] kevinpschaaf commented on #9
Just made a jsBin to confirm this should work:
- Icons in a custom element: http://jsbin.com/qadugo/1/edit
- Icons in the main document: http://jsbin.com/natefi/2/edit

Again per the caveats of the shim discussed [here](https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-properties-shim---limitations-and-api-details), if you change a class on an element that would cause it to con

[2015-06-04 19:59] otroboe commented on #19
Same issue here :(
Works on FF 38, but fails on Chrome 43.

[2015-06-05 19:22] emmanuelbuah commented on #19
Same here

[2015-06-07 17:31] rohanray commented on #19
I am facing the same issue: https://github.com/PolymerElements/iron-icons/issues/14

[2015-06-08 15:57] jurgenfink commented on #19
Found the solution.

The cause of the warning in Chrome debugger is due to the wrong timing of loading the link imports in the right sequence.

**Solution:**

 **1.) Remove link imports in the iron-icons** (and other icon-sets if needed, like maps, social, etc ...):
-  public
  -  bower_components
    - iron-icons
      -  **iron-icons.html**
      -  **maps-icons.html** (optional, if you are usin

[2015-06-08 18:08] emmanuelbuah commented on #19
Thanks for the work around. Hopefully, a formal fix will get pushed out.

[2015-06-08 23:52] mattiLeBlanc commented on #19
Hi guys, great work at debugging this.
I also have another workaround if you are interested, which doesnt force you to the modify the polymer objects:
Wait for the WebComponentsReady event to fire before you start rendering.

[code]

I

[2015-06-09 15:25] jurgenfink commented on #19
@mattiLeBlanc  Thank you for your input - very nice. Let's see how the Polymer Team will incorporate this issue in their update. At least, our findings show that the issue is related to the timing of availability of dependencies at run time (i.e. first loading time).

Also a big thank you to @rohanray , @jatsrt, @sjmiles and @emmanuelbuah for having raised this issue here on Github and on Stack Ov

[2015-06-09 22:54] mattiLeBlanc commented on #19
@jurgenfink My pleasure mate!
I did get on weird side effect with the WebComponentsReady solution in Blaze (using Meteor), that my whole scaffold's (paper-drawer-panel with header and tool bar) is broken. Instead of fullbleed, it is somewhere at the bottom all compressed.
It looks like some of the child tags are not rendered within the content tags of outer polymer tags (you know that they have co

[2015-06-09 23:54] mattiLeBlanc commented on #19
Hi Guys,

For me this issue only arises while using a template engine, in my case Blaze (Meteor.js).
When I render the icons without Blaze, they show up fine and dandy. I will also raise this issue on the Blaze git page.

[2015-06-10 00:10] #20 closed, assigned to nobody

[2015-06-10 00:43] mattiLeBlanc commented on #19
@sjmiles has this been fixed or did you migrate it to another issue?

[2015-06-10 02:53] ebidel commented on #11
Thanks for the suggestion. I think we should mention polyserve on the polymer documentation (under tools)...which is the POR. This isn't the right place for this request though. This repo is for the iron-icon element features/bugs.

[2015-06-10 02:53] #11 closed, assigned to nobody

[2015-06-10 02:54] #18 closed, assigned to nobody

[2015-06-10 03:11] ebidel commented on #19
Reopening until we confirm with @sjmiles. I'm getting bugged about this one.

[2015-06-10 03:21] mattiLeBlanc commented on #19
I do see that here is a new iron-icons version 1.01. This one does FIX the loading issue for me.
I dont need WebComponentsReady event any more.

[2015-06-10 14:28] emmanuelbuah commented on #19
@mattiLeBlanc I'm using blaze(meteor) as well and having the same issues you are having. The icons was first issue. I'm still digging around to figure out why rendering with a template throws everything out of place.

[2015-06-10 23:38] yusufm opened #24 "bad escape in code example"
On https://elements.polymer-project.org/elements/iron-icon there are some instances of sample code not being escaped correctly. E.g.:

&lt;!-- import default iconset and iron-icon --&gt;

[2015-06-11 01:20] sorvell opened #25 "Avoid using `custom-style` to set defaults"
https://github.com/PolymerElements/iron-icon/blob/master/iron-icon.html#L80

Prefer instead, e.g.:

`width: var(--iron-icon-width, 24px);`

[2015-06-11 23:34] ghost commented on #19
I am using Polymer in a Meteor 1.0 app. Everything is OK with Polymer 0.5.6, and I'm continuing to move my app forward with that. But with 'production-ready' Polymer 1.0 there are still some road blocks. This `[iron-icon::_updateIcon]` error _was_ one of them. I have just been able to extinguish these errors, which I have been seeing since at least 0.9, using the @jurgenfink remedy. Load order is

[2015-06-12 16:04] emmanuelbuah commented on #19
@dgtlife @mattiLeBlanc I was hoping we could work together to figure out our meteor + polymer woes here https://gitter.im/emmanuelbuah/MeteorPolymer#. We can post our findings here when we have an idea of whats causing the issue.

[2015-06-12 18:31] #25 closed, assigned to nobody

[2015-06-12 23:15] emmanuelbuah commented on #19
This should probably be filed as a separate issue but I will go ahead and post it here since its related. I posted the below content relating to polymer & meteor issue https://github.com/meteor/meteor/issues/4528#issuecomment-110921223

Polymer components/tags inherits from dom element in order to participate in dom events: create, attach and detach. On create via document.createElement, the polym

[2015-06-15 14:39] emmanuelbuah commented on #19
@ebidel It looks like the the polymer team is aware and working on https://github.com/Polymer/polymer/blob/master/src/lib/experimental/patch-dom.html as a solution to polymer interoperability issues with existing dom manipulation lib's (templates libs). Can someone from your team offer insight as to how ready the patch is and how to go about using it.

[2015-06-18 19:31] notwaldorf commented on #9
apply label: pending response

[2015-06-22 12:47] bvhme opened #27 "The link to the iron-icons demo is dead and not working"
Is there anywhere where we can get an overview of all icons except for the 0.5 version of this?

Thanks

[2015-06-22 23:20] gertcuykens opened #28 "How do you set the svg viewBox of a icon?"
I have a 75px viewbox designed icon and need to set the viewbox to 75 instead of 24 else you only see part of the icon in the (24x24) box and yes I tried fiddling with this
`<iron-iconset-svg name="gender-icons" icon-size="75">`
Anyway this should be the result and I can only achieve it with the chrome inspector en edit the viewbox
![image](https://cloud.githubusercontent.com/assets/863731/8295417

[2015-06-23 18:46] notwaldorf commented on #28
`iron-icon` has two custom properties, `--iron-icon-width` and `--iron-icon-height` that you can use to set the size:

[code]

(As a side note, even if `iconSize` would have been a property, it should have been `icon-size` since it's being used as an html attribute)

[2015-06-23 23:07] gertcuykens commented on #28
I dont need to change the size just the svg viewbox inside iron-icon. Wait I will make another picture to make it more clear wat happens if the viewbox is set to the same size als the icon itself

[2015-06-23 23:10] gertcuykens commented on #28
![image](https://cloud.githubusercontent.com/assets/863731/8319313/a766d518-1a0d-11e5-9139-78453f459c94.png)

![image](https://cloud.githubusercontent.com/assets/863731/8319321/c77a8962-1a0d-11e5-82dc-cae28fccc777.png)

Notice that the size is in both cases 24x24 I only edited the viewbox in the inspector.

Let me know if it is clear or if I need to make a demo

[2015-06-23 23:44] gertcuykens commented on #28
PS I changed it to `<iron-iconset-svg name="gender-icons" icon-size="75">` but it does not affect the viewBox :) If it did then I would have slapped my forehead again for sure :)

Could it be it used to be a property in 0.5 at some point?

[2015-06-25 20:27] notwaldorf commented on #28
I don't think this was ever possible, but I'll let @cdata chime in since he knows most about the icons.

[2015-06-25 20:59] gertcuykens commented on #28
this is the icon I am talking about

[code]

[2015-06-28 23:19] gertcuykens commented on #28
Can you make a pink blinking and sound making `!!!-->pending-answer<--!!!` tag please, red was already taken for bugs :D

[2015-06-29 17:47] notwaldorf commented on #28
@gertcuykens `pending-response` means that the Polymer teams needs an answer from the person who opened the issue, so that's not a label you would want in this case. :)

I double checked the `iron-iconset-svg`, and there seems to be a `size` attribute exactly for this: https://github.com/PolymerElements/iron-iconset-svg/blob/master/iron-iconset-svg.html#L27. Does that work?

[2015-06-29 22:49] gertcuykens commented on #28
lol yes :D

Thank you!

[2015-06-29 22:49] #28 closed, assigned to notwaldorf

[2015-07-07 18:40] ianchildress commented on #27
Where can we find what icons are included in iron-icon?

[2015-07-08 09:34] cyraid commented on #9
Using "paper-button" and "iron-icon" inside of it.. I'm gonna say I'm with @dhpollack on this one.. Nothing anyone's mentioned except:

[code]

[2015-07-08 18:06] dplassgit commented on #19
I've given up on custom iconsets as a result of this bug. Built-ins seem to work though.

[2015-07-13 02:04] polonski commented on #19
Polymerize https://github.com/loneleeandroo/meteor-polymerize seems to have solved this issue but it still doesn't work for me https://github.com/loneleeandroo/meteor-polymerize/issues/8

[2015-07-22 16:15] lorensr commented on #19
My fix was adding

[code]

to the top of the list of component `<link>`s.

[2015-07-28 16:19] datasynth opened #31 "icons don't appear in Firefox"
These icons (at least) from the default and other sets don't appear in Firefox (39.0):

event-seat, icons-b, flight-land, icons-d, flight-takeoff, gif, indeterminate-check-box, av:airplay, av:b, av:d, av:forward-10, av:forward-30, av:forward-5...and more...from the iron-icons demo page (and other usages).

<img width="938" alt="screen shot 2015-07-28 at 12 16 32 pm" src="https://cloud.githubuserco

[2015-07-30 12:57] ghost commented on #27
Hey Guys,

So I couldn't find it either. I ended up using this: https://www.polymer-project.org/0.5/components/core-icons/demo.html. I just included the core-icons keyword after the iron-icons name. For example,
"iron-icon icon="work"></iron-icon."

Pretty gangsta and duct-taped, but its a temporary fix. I believe the guys figured out some work around.
You can read about it here: https://github.co

[2015-08-02 12:37] vinyll commented on #19
Same issue here: `[iron-icon::_updateIcon]: could not find iconset 'icons', did you import the iconset?` on _Chromium 46_.
Works just fine on _Firefox Developer Edition 41_ and _Firefox 39_.

The @lorensr trick to put _iron-icons_ import at the very top did not work for me.

[2015-08-12 20:46] ebidel commented on #19
Root issue is: https://github.com/PolymerElements/iron-icons/issues/18

[2015-08-19 17:13] alice commented on #8
On the alt text issue: I have just had a chat with @robdodson who is using an `<iron-icon>` inside an `<a>`. In this case, it would be really nice to be able to apply some kind of text alternative on the icon itself, so that the `<a>` can pick it up as text content. So, basically the reverse of what I said previously :)

[2015-08-19 20:00] yglodt commented on #9
With 1.0.3 none of the above work.
Note that I am using a custom svg icon <iron-icon class="big" src="/resources/myicon.svg"></iron-icon>

Edit: This works:

  iron-icon.iron-icon-0 {
   height: 64px;
   width: 64px;
  }

[2015-08-30 23:41] s-devaney commented on #19
Still suffering with this issue

[2015-08-31 00:48] mattiLeBlanc commented on #19
uhm, maybe not something you want to hear, but I moved away from polymer in favour of Meteor+Angular with Angular Material (which rocks). No webcomponents so noone of the issues we are experiencing with Polymer and Blaze

[2015-09-10 11:51] fxedel commented on #27
iron-icon is something different than iron-icons. For this issue, see https://github.com/PolymerElements/iron-icons/issues/21

[2015-09-15 18:58] samccone commented on #19
:+1: just ran into this one

[2015-09-17 04:40] samccone commented on #27
![screen shot 2015-09-16 at 9 39 47 pm](https://cloud.githubusercontent.com/assets/883126/9925071/810b9822-5cbb-11e5-804a-74cd443010f6.png)

https://elements.polymer-project.org/elements/iron-icons?view=demo:demo/index.html

:sparkles: all icons :)

[2015-09-22 17:07] #27 closed, assigned to nobody

[2015-10-03 00:48] ebidel commented on #19
This should be fixed with PolymerElements/iron-icons#18. PTAL.

[2015-10-03 00:48] #19 closed, assigned to cdata

[2015-10-06 22:53] #24 closed, assigned to nobody

[2015-10-19 22:46] notwaldorf commented on #9
This issue is old, and doesn't have any repro steps. If anyone can create a jsbin with repro steps, I'll gladly reopen this and look at it. In the meantime, an updated TL; DR:

To resize a particular `iron-icon`:

[code]

To resize all the `iron-icon`s on this page:

[code]

To resize all the `iron-icons` in the app, including nested ones in custom elements:

[code]

Hope this helps!

[2015-10-19 22:46] #9 closed, assigned to kevinpschaaf

[2015-10-19 23:03] notwaldorf commented on #31
This is a problem with the material design icon set. Turns out there's about 73 icons that use `<use xlink:href`, which isn't a thing we support, and needs to be fixed in the original sources.
/cc @azakus who's investigating

[2015-10-19 23:11] dfreedm commented on #31
This issue was moved to PolymerElements/iron-icons#28

[2015-10-19 23:11] #31 closed, assigned to dfreedm

[2015-10-20 00:05] ebidel opened #43 "New stroke should default to `none`"
`stroke: currentColor` affects the weight of the icon. See the clock example with `stroke: currentColor`:

<img width="357" alt="screen shot 2015-10-19 at 5 03 18 pm" src="https://cloud.githubusercontent.com/assets/238208/10594589/7b3fc030-7683-11e5-884f-95142deb6a4f.png">

`stroke: none` preserves 1.0.5's look:

<img width="290" alt="screen shot 2015-10-19 at 5 03 34 pm" src="https://cloud.github

[2015-10-20 00:27] #43 closed, assigned to nobody

[2015-10-21 02:46] ghost opened #46 "Issue with Polymer Catalog"
I apologize in advance but I did not know where to post this issue. So I posted it to the place I found the bug.

The following url I received by selecting the link under the main iron-icon page
https://elements.polymer-project.org/elements/iron-icon?view=demo:demo/index.html

I followed the previous link then selected the link in the contents on the catalog page.
"This demo is for a single <iron-

[2015-10-21 05:35] zoechi opened #47 "Support style mixin"
I want to use the Fontawesome SVG fonts icons using a iron-iconset-svg and need to set a few CSS settings like
- `font-family`
- `font-size`
- `dominant-baseline`
- `text-anchor`
  Currently only width and height are supported

I want to get rid of the `/deep/` in this CSS

[code]

Full example at https://github.com/bwu-dart/bwu_fontawesome_iconset_svg/blob/master/lib/bwu_fontawesome_iconset_svg.h

[2015-10-21 09:03] #46 closed, assigned to nobody

[2015-10-21 09:04] ghost commented on #46
Just realized it might have been on purpose to have the dual opens one for icon and one for icons

[2015-10-26 14:44] deceze opened #49 "Size cannot be set using CSS when using sprite iron-iconset"
Having defined an iron-iconset:

[code]

And using it like this:

[code]

It seems impossible to set the icon's size using e.g.:

[code]

The size of the sprite is applied to the icon in `_addIconStyles` of iron-iconset, and iron-icon does not override it.

[2015-10-28 17:11] arthurevans commented on #27
This isn't working correctly ATM -- if you click the link for the iron-icons demo, you end up with two left nav panels.

[2015-11-02 16:00] lpalmaro opened #52 "Mobile A11y Testing 11/1"
I'm not able to access the icons with talkback. Should I be able to? If not for this demo, feel free to close.

[2015-11-03 07:32] davidmaxwaterman opened #53 "bower.json warning"
[code]

Inconsequential, I think, but it'd be nice to get it fixed - it kind of stands out against the other elements (well, some others also evoke this message, but not many).

[2015-11-03 11:24] notwaldorf commented on #53
@rictic -- is this something `tedium` could automagically fix? (I assume there's maybe other elements that lack an ignore? Maybe?)

If not, I can send a PR out in a jiffy.

[2015-11-10 10:12] nylki opened #55 "changing color doesn't work as documented"
The [documentation](https://github.com/PolymerElements/iron-icon#styling) says:

[code]

However this doesn't seem to work on my side ( "polymer": "~1.2.1", "iron-elements": "~1.0.4").
Also the width/height change attributes don't seem to take effect.

html:

[code]

css:

[code]

[2015-11-10 21:57] notwaldorf commented on #55
It would be great if you could reproduce this in a jsbin, however just by looking at your code, I think you aren't using the correct css selector for custom properties. It should use the custom element you are targetting, so something like:

[code]

Also make sure all of these are in a `<style is="custom-style">` tag.

[2015-11-11 12:35] nylki commented on #55
@notwaldorf here is a minial jsbin for you:
http://jsbin.com/riqeqepohe/edit?html,output

I had some progress. It seems that only icons defined in icon-sets can be styled with `--iron-icon-fill-color` and `--iron-icon-stroke-color`, but no `iron-icon`'s that are loaded directly from an svg via `src=""`

If this behavious is supposed to be like this, I suggest mentioning it in the documentation. Ot

[2015-11-16 20:18] rictic commented on #53
Huh, `ignore` is only recommended in the spec: https://github.com/bower/spec/blob/master/json.md#ignore

That said, yeah this is super easy for tedium to handle, I'll send out a PR in a bit.

[2015-11-16 20:20] GeoloeG-IsT commented on #53
already done here: [56](https://github.com/PolymerElements/iron-icon/pull/56)

[2015-11-16 20:21] GeoloeG-IsT commented on #53
BTW, fixed multiple missing "ignore" to be merged...

[2015-11-16 20:34] rictic commented on #53
Thanks for the cleanup PR! I merged the linked one, but for the other 39 cases where we need this change my vote is that we use an automatic tool like tedium.

I've just sent out a PR to add this check to tedium: https://github.com/PolymerLabs/tedium/pull/5

[2015-11-16 20:36] GeoloeG-IsT commented on #53
would be great indeed! :)

[2015-11-16 22:19] rictic commented on #53
All elements in the PolymerElements org have been updated with `ignore` bower properties.

[2015-11-16 22:19] #53 closed, assigned to nobody

[2015-11-20 09:36] nylki commented on #55
@notwaldorf any news?

[2015-12-09 05:30] jannakha commented on #8
+1
what's the progress?

[2015-12-09 16:44] robdodson commented on #8
Looking into this

[2016-01-12 01:08] jeffrey-l-turner opened #58 "iron-icons not rendering on Firefox"
Several of the icons are not rendering on Firefox. This can be verified by using Firefox on the demo page at: https://elements.polymer-project.org/elements/iron-icons?view=demo:demo/index.html&active=iron-icons

Non-rendering icons include: b, d, indeterminate-check-box, & gif.

I have verified that the generated svg code renders by itself properly. So it appears to have to something with the svg

[2016-01-12 18:24] jeffrey-l-turner commented on #58
I researched this a bit more, it appears that the <svg> and <g> wrappers without the  <iron-icon class="x-scope iron-icon-0"> element render properly. The icon fails to render with the <iron-icon> polymer element wrapper is used. Haven't had a chance to debug further...

[2016-01-12 19:34] notwaldorf commented on #58
Duplicate of https://github.com/PolymerElements/iron-icons/issues/28. We've updated some of these in a recent release, and should make it to the catalog soon.

[2016-01-12 19:34] #58 closed, assigned to nobody

[2016-01-22 00:25] alberthier opened #61 "Unable to switch between icon and image display"
See this jsbin: http://jsbin.com/boruva/edit?html,output

I would like to switch between the polymer logo and the 'check' icon using a single `<iron-icon>`
The 'Toggle' button sets/unsets the `icon` and `src` properties

As long as you use the same image type you can change the image as much as you want. But switching from `icon` to `src` doesn't work

PR #48 fixes this issue

[2016-02-03 21:54] cdata commented on #47
Hi, while we can certainly add another mixin for font family, it probably won't make `iron-icon` easier to use with Font Awesome. `iron-icon` is designed to work with SVG and other image formats, not icon fonts. Could you re-open this issue with a design proposal for how an icon font could be use with `iron-icon`? Thanks!

[2016-02-03 23:11] cdata commented on #55
It looks like the styles are being applied, but the icon itself is not picking them up. In the first part of your example, where you use an `.svg` image src, you wouldn't get the special styles anyway (styling SVG like that is not allowed).

[2016-02-03 23:13] cdata commented on #55
I think that this icon might just be malformed. I'm going to close this issue because there probably isn't anything we can do about it.

[2016-02-03 23:13] #55 closed, assigned to notwaldorf

[2016-02-04 04:43] zoechi commented on #47
Iron-icon is already working fine (as was core-icon) with SVG fonts. I just need to get rid of `/deep/` because it's deprecated and will be removed probably in the not so distant future.
Please reopen.

[2016-02-06 16:07] zoechi commented on #47
Can you please reopen? I don't see what a design proposal would be for. This is working fine. I just can't apply the styles, listed in my initial comment, anymore when `/deep/` is removed from Chrome.

[2016-02-23 23:57] danbeam commented on #61
/cc @azakus (maintainer) @kevinpschaaf (TL) @tjsavage (PM)

this would be nice for Chrome's UI as well, and PR #48 seems legit.

i was about to file an issue with a similar repro (http://jsfiddle.net/t8na1wop/).

[2016-03-02 21:49] dfreedm commented on #61
Fixed with #48

[2016-03-02 21:49] #61 closed, assigned to dfreedm

[2016-03-02 21:52] dfreedm opened #63 "Setting icon before element ready throws exceptions"
If `.icon` is set before `.meta` is created, an exception is thrown. We should delay updating the icon until `.meta` is ready.

[2016-03-03 19:33] #63 closed, assigned to dfreedm

[2016-03-31 17:38] jensenbox opened #65 "Deprecation notice from flex layout"
### Description

As per the notation at https://github.com/PolymerElements/iron-flex-layout/blob/master/classes/iron-flex-layout.html#L14 modules should no longer be referencing the iron-flex-layout/iron-flex-layout.htm document.
### Expected outcome

No console warning
### Actual outcome

<script>
  console.warn('This file is deprecated. Please use `iron-flex-layout/iron-flex-layout-classes.html`

[2016-03-31 19:23] notwaldorf commented on #65
Neither `iron-icon` [itself](https://github.com/PolymerElements/iron-icon/blob/master/iron-icon.html#L13) nor its [demo](https://github.com/PolymerElements/iron-icon/blob/master/demo/index.html#L17)  are using the deprecated classes version and I cannot reproduce this in a [jsbin](http://output.jsbin.com/biziqi).

Where are you seeing this warning? Are you using the latest version of the elements?

[2016-03-31 19:23] #65 closed, assigned to nobody

[2016-03-31 19:32] jensenbox commented on #65
Thanks for the response.

I will see what I can do about putting a demo together.

in the mean time, if you do a bower update your iron-flex-layout will bump to 1.3.1 - in that instance every time the non-classes reference will emit a log indicating the deprecation.

This is what causes it: "iron-flex-layout": "PolymerElements/iron-flex-layout#1.3.1",

[2016-04-18 09:59] snorberhuis commented on #55
For reference, I had a similar problem where --iron-icon-fill-color did not work. This was because the fill color was hardcoded in the icon.

[2016-05-05 10:51] abdonrd commented on #8
News about this?

[2016-05-12 16:19] MetaMemoryT opened #66 "iron-flex-layout.html is deprecated"
iron-flex-layout.html is deprecated

[2016-05-12 16:21] notwaldorf commented on #66
Oh! It's just `classes/iron-flex-layout.html` that is deprecated; everything else in that repo is good to go! (And the element uses the mixins version, which is absolutely not deprecated)

[2016-05-12 16:21] #66 closed, assigned to nobody

[2016-05-13 15:13] dfghi opened #67 "Iron icon won't disappear if assigned with """
### Description

If an <iron-icon> element has no icon assigned when attached, it stays empty without error. When you assign an icon it displays it, but when you un-assign the icon it keeps the last assigned icon forever.
Example:
https://jsfiddle.net/sasntsjf/2/
### Expected outcome

When the icon property is assigned to null or "", the icon should disappear.
### Actual outcome

When the icon pro

[2016-05-16 05:33] mgiuffrida opened #68 "expose iconName and iconsetName as read-only properties (for testing)"
Because of tools like poly-icon.appspot.com, an `iron-icon`'s icon name may change when an app creates its own iconsets. A test that checks `icon.name == 'icons:clear'` would fail if `icon.name` becomes `'my-app:clear'`.

It would be cool if the icon name (the part after the `:`) were a gettable property, so tests could verify the icon name without being dependent on whatever the iconset name is.

[2016-06-01 18:27] robdodson commented on #8
here's my thinking, @alice please correct me if i'm wrong.
- There's no need to add a role to the host because there's an img tag inside of iron-icon and the accessibility tree will pick that up
- Typically iron-icon is presentational so shouldn't auto apply any sort of label or alt text to the underlying img
- Inside of paper-icon-button, the label should go on the button and not the iron-icon so

[2016-06-01 18:32] notwaldorf commented on #8
Small nit: if the `iron-icon` gets an `alt` attribute, it should _not_ bind it to the `img`'s `alt` (exposing implementation details), but it should instead just update its host's `aria-label`, like we do for `paper-icon-button`: https://github.com/PolymerElements/paper-icon-button/blob/master/paper-icon-button.html#L163

[2016-06-01 18:36] robdodson commented on #8
Maybe also worth mentioning. The element only uses an img if the icon is based on a raster format. It may also use iron-iconset-svg internally. So I guess i'd lean toward using aria-label as well

[2016-06-01 18:56] alice commented on #8
I would have thought `aria-label` was more "leaky" since it'd sprout on the shadow host. If you support `alt`, you could _implement_ support for it as appropriate inside of shadows - either `alt` on an `<img>` element or `aria-label` on an alternative format. But honestly I'd be fine with sprouting `aria-label` as well, as long as you set `role=img` at the same time (imagine seeing a standalone `i

[2016-06-21 14:12] dlockhart opened #71 "SVG icons are focusable in Edge/IE"
### Description

In both Edge and IE11, when `iron-icon` is used in conjunction with SVG iconsets, the SVG elements inserted into the DOM inside `<iron-icon>` get tab stops. This occurs even with a `tabindex="-1"`, since apparently that's part of the [SVG2 spec](https://www.w3.org/TR/SVG2/struct.html#tabindexattribute), which IE does not yet support.
### Expected outcome

SVG elements should not b

[2016-06-21 14:26] dlockhart commented on #71
Closing, duplicate of: https://github.com/PolymerElements/iron-iconset-svg/issues/46

[2016-06-21 14:26] #71 closed, assigned to nobody

[2016-07-14 05:35] ahcheqiu opened #74 "Can I load a fallback icon when I fail to load the desired icon"
Is there any chance to load a different icon when the icon I want failed to load?

[2016-07-14 17:55] kevinpschaaf opened #75 "Style should be moved inside the template"
### Description

`<style>` elements should be moved inside the template for future compatibility.

https://github.com/PolymerElements/iron-icon/blob/master/iron-icon.html#L86

[2016-07-14 18:11] #75 closed, assigned to notwaldorf

[2016-07-18 23:43] freshp86 commented on #67
This is affecting Chrome's new settings page, [see bug](https://bugs.chromium.org/p/chromium/issues/detail?id=628071).

/cc @danbeam @tjsavage

[2016-07-18 23:59] freshp86 commented on #67
FYI, I have a candidate fix for this. The problem seems to be caused by these lines https://github.com/PolymerElements/iron-iconset-svg/blob/master/iron-iconset-svg.html#L102-L127

At line 110 the `_svgIcon` property is set on the root. But the equivalent code that removes the `_svgIcon` at line 123 is checking the wrong element. There should be a line

[code]

In other words removeIcon checks the

[2016-07-19 00:02] freshp86 commented on #67
And a bug about this already exists at the iron-iconset-svg repository, and a PR , see
https://github.com/PolymerElements/iron-iconset-svg/issues/45 and
https://github.com/PolymerElements/iron-iconset-svg/pull/44.

[2016-07-27 04:13] patrinhani-ciandt commented on #8
@robdodson and @notwaldorf, I sent a [Pull Request](https://github.com/PolymerElements/iron-icon/pull/77). Please, take a look if it makes sense.

[2016-08-06 02:06] tony19 opened #78 "iron-icon `icon` takes precedence over `src` contrary to docs"
### Description

The [docs](https://github.com/PolymerElements/iron-icon/blob/adc6f44/iron-icon.html#L130-L132) state that `iron-icon.src` takes precendence over `iron-icon.icon`, but a test shows that the opposite is true.
### Expected outcome

The image specified by `src` is shown.
### Actual outcome

The icon specified by `icon` is shown.
### Live Demo

http://codepen.io/tony19/pen/Pzyxdw?edito

[2016-08-06 02:30] tony19 commented on #78
Interestingly, the unit tests actually indicate this might be by design:

[iron-icon.html#L171](https://github.com/PolymerElements/iron-icon/blob/4722a97/test/iron-icon.html#L171)

Which is wrong? docs? or code?

If the code is wrong, the fix is trivial:

https://github.com/PolymerElements/iron-icon/blob/adc6f44/iron-icon.html#L163:

[code]

[2016-08-06 02:36] tony19 commented on #78
Here's a workaround I'm using:

[code]

[2016-08-27 14:13] mbana opened #79 "icon name as class: `<iron-icon class="iron-icon menu"></iron-icon>`"
hi,

to get the icon name, we have to resort to a computed binding:

[code]

if would be nice if one could set the icon using css alone.

[code]

[2016-09-13 10:49] IchordeDionysos opened #81 "Let the user set an alt on the image"
`iron-icon` has no way for us developers to help disadvantaged users who use a screen reader to understand what the meaning of the icon in this situation is.
### Expected outcome

We as developers define an `alt`-attribute on the element and a screen reader announces the text provided in the ways ARIA best practices define.
### Actual outcome

There is no way official way to announce a text.
### L

[2016-09-29 11:57] mkazlauskas opened #83 "1.0.11 polylint error"
### Description

The `iron-icon` v1.0.11 element causes polylint to fail.
### Expected outcome

polylint doesn't fail.
### Actual outcome

[code]
### Steps to reproduce
1. `npm install polylint && bower install iron-icon`
2. html import iron-icon
3. `polylint`

[2016-10-03 05:01] nickserv commented on #83
As a workaround, you can use `polymer lint --no-follow-dependencies` in other projects to ignore these errors.

[2016-10-07 22:59] bicknellr commented on #67
This was fixed by #44.

[2016-10-07 22:59] #67 closed, assigned to nobody

[2016-11-08 17:54] bennypowers commented on #83
@nickmccurdy

[code]

maybe i just don't get `polymer lint` will check

[2016-11-15 09:54] motss opened #84 "Add mixin to style img tag when src is defined"
### Description
Not able to style the `<img>` tag inside `iron-icon`. It would be helpful for use case where a `paper-icon-button` can be created with rounded corner.

[2016-11-21 01:42] tony19 commented on #84
Use this style:

[code]

[codepen](http://codepen.io/tony19/pen/XNMJXL?editors=1000)

[2016-11-21 09:08] motss commented on #84
@tony19 Such a pro tip! It worked flawlessly.

[2016-12-05 20:18] notwaldorf commented on #84
Closing, as this is already possible (see example above)

[2016-12-05 20:18] #84 closed, assigned to nobody

[2016-12-08 07:49] Mika83AC opened #88 "Change the icon when iron-icon already exists in DOM"
Hello everyone,

is it possible to change the currently used and displayed icon of a iron-icon, which is already existing in the DOM?

I tried "icon.setAttribute('icon', "hardware:keyboard-arrow-right");", but i guess  that can't work without a "reevaluate" of the iron-icon itself.

Is there a way to accomplish this "on the fly" icon change?

Regards,
Michael

[2016-12-08 12:21] #88 closed, assigned to nobody

[2016-12-08 12:22] Mika83AC commented on #88
Sorry, was my fault, everything is working fine!

[2016-12-14 20:46] lruizr opened #89 "iron-icon.html causes unexpected Polymer.Base.create is not a function"
### Description

The iron-icon element causes the own web-component does not load properly.
### Expected outcome
The web component loads properly.
There are no errors in the console.

### Actual outcome
The web-component does not load its content and the console shows the following error:
Uncaught TypeError: Polymer.Base.create is not a function
    at iron-icon.html:142
Uncaught TypeError: Cannot

[2016-12-17 02:05] derfel opened #90 "Round image inside iron-image"
### Description

Sometime there's the need to have a round image, but now there's now clean way to do this.

Using shady dom we could use
`iron-image ::content img {
  border-radius: 50%;
}`

Using shadow dom there's no way to get a round image.

### Expected outcome

The image loaded through `src` attribute has the right border-radius value.

### Actual outcome

Shady:
http://jsbin.com/fejojawuwi

[2017-01-28 05:59] maria-le commented on #83
Same error as OP also occurs for `polymer lint`.

[2017-02-07 00:56] helenxywu opened #96 "Mirrored icons for RTL are shifted over (shadow DOM)"
Happens in shadow DOM. Seems like the transform is working a bit differently.
http://jsbin.com/geyejexuhi/edit?html,output

[2017-02-28 07:56] danielx opened #97 "iron-icon hidden attribute does not work inside shadow root"
### Description
When using iron-icon inside a shadow root the global `[hidden] { display: none; }` CSS rule gets blocked and iron-icon stays visible.

### Expected outcome
The `hidden` attribute should apply `display: none;`

### Live Demo
https://jsbin.com/xidewewaki/2/edit?html,output

### Browsers Affected
- [x] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ]

[2017-02-28 20:47] notwaldorf commented on #97
You need to add the style for `hidden` _inside_  the shadow root. `hidden` has the lowest specificity, and it gets overwritten (see https://github.com/PolymerElements/paper-item/issues/58 for a very long discussion on the topic)

[2017-02-28 22:08] danielx commented on #97
I'm sorry, it somehow slipped my mind to provide the entire reason and all information when i created this issue.

Currently in shady DOM iron-icon gets hidden because a rule for `[hidden] { display: none !important; }` gets leaked from [iron-flex-layout.html#L51](https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout.html#L51) and places above the `.iron-icon-0` style th

[2017-03-01 09:04] newlukai opened #99 "Inline SVG tree if an SVG file is specified as src"
If you specify a PNG, GIF, JPG or similar as src of the iron-icon, a corresponding `img` tag is rendered in the DOM. SVG is also rendered using an `img` tag. Would be great if the `iron-icon` would place the `svg` tree from the SVG file in the DOM instead, thus allowing the user to apply `fill` and `stroke`.

[2017-03-08 10:27] davidmaxwaterman opened #100 "link to iron-icons broken"
### Description
The iron-icon demo references the iron-icons demo, but links using the following URL :

/elements/iron-icons?view=demo:demo/index.html

### Expected outcome
Should probably link to :

/PolymerElements/iron-icons/v1.2.0/iron-icons/demo/index.html

(which seems to work when I edit the anchor) or something.

### Actual outcome

404

[2017-03-28 12:37] erikkroes commented on #8
@alice @robdodson My shot at a fix for this: https://github.com/PolymerElements/iron-icon/pull/101

No `alt` or empty `alt` makes the host `aria-hidden`.
If there is an `alt`, an `aria-label` is added, and `role="img"`.

So you either set an alt explicitly, or it is ignored completely by screen readers.

[2017-04-12 13:43] bennypowers commented on #84
let's try this out with a non-square image:

http://codepen.io/bennyp/pen/bWGeqY

See how the image is warped by the css applied in the template? in cases like this, a mixin would be helpful.

[2017-05-02 07:25] dominik0711 commented on #90
Is there a road-map when the patch from @derfel will be merged into the upcoming release?

[2017-05-09 19:36] phidias51 commented on #8
I guess I'm a little confused about this. Are you supposed to set "alt" or "aria-label"?  I've tried both, and neither of them work. I'm using iron-icon v1.0.13.

[2017-06-15 23:36] ghost commented on #8
I can confirm @phidias51 in that neither alt or aria-label in the iron-icon element are passed down to the actual img element. This is super annoying since I can't get a 100% accessibility score with Lighthouse until this issue is resolved !!(>_<)!!

[2017-06-23 07:01] robdodson commented on #8
I'd suggest iron-icon follow the same approach as the Angular Material icons.
https://material.angular.io/components/icon/overview#accessibility

By default, put `aria-hidden=true` on iron-icon and if you're using it inside of a button or something like that, then make sure the button has an accessible label. If it's an indicator then add a screen reader only span with the indicator text.

[2017-06-29 18:52] phidias51 commented on #8
What's also a bit confusing is how tooltips should work in a mobile setting versus a desktop. If I hover over an icon on a desktop, then I expect to see a tooltip pop up. If I'm on a mobile, there is no hover event, so I would the user trigger a tooltip?

I also don't know what the aria-hidden=true setting will do.  Will this hide the description all of the time, and only be "visible" to screenrea

[2017-06-30 01:50] phidias51 commented on #8
Although, it doesn't address the question of how tooltips should be triggered in a mobile setting (or by screenreaders), I've found that the **paper-tooltip** solves part of this problem.

[2017-07-06 21:58] robdodson commented on #8
aria-hidden=true or role=presentation means a screen reader will completely skip the icon. Instead, the labeling should be on the button itself, and the icon ignored.

[2017-07-18 15:19] yonathan9669 commented on #78
+1 here.
I would like to know if the docs it's wrong of if the code it's wrong.

A code fix to achieve the doc description will be as simple as
[code]

Please update whichever of them for consistency.

[2017-07-19 17:32] n1ywb commented on #79
Or reflect the `icon` property to an attribute so we could use a CSS attribute selector to style it

[2017-07-19 17:37] n1ywb opened #107 "Reflect `icon` to attribute for styling"
It would be great if the `icon` property were reflected to an attribute, then we could style icons using an attribute selector.

E.g.

    <style>iron-icon[icon="my-icon"] { color: green; }</style>
    <iron-icon icon="my-icon"></iron-icon>

This would allow you to define colors for all your icons in a style module and apply them without having to add an id or class to the iron-icon.

Alternativel

[2017-07-26 18:36] bicknellr commented on #100
Should be fixed by #106.

[2017-07-26 18:36] #100 closed, assigned to nobody

[2017-08-04 10:06] fabysdev opened #109 "`TypeError: this._meta.byKey is not a function` error with webcomponentsjs 1.0.5"
### Description

`TypeError: this._meta.byKey is not a function` error in firefox and edge but not in chrome (not tested in safari, ie) when using webcomponentsjs 1.0.5, works with webcomponentsjs 1.0.4.

#### Live Demo
http://jsbin.com/wuceranate/1/edit

### Browsers Affected
- [ ] Chrome
- [x] Firefox
- [x] Edge

### Versions
- Polymer: v2.0.2
- webcomponentsjs: v1.0.5
- iron-icon: v2.0.1

[2017-08-04 11:23] ronnyroeller commented on #109
Same issue here. Downgrading webcomponentsjs prevents indeed the issue.
@fabysdev Thanks for providing the workaround!

[2017-08-04 16:33] abdonrd commented on #109
Same issue here!

[2017-08-07 18:15] benjaminogles commented on #109
In the iron-icon declared properties, changing the default value of _meta to a function that returns the iron-meta instance fixed at least this issue for me.
See https://www.polymer-project.org/2.0/docs/devguide/properties#configure-values

[2017-08-07 18:42] benjaminogles commented on #109
Not seeing the issue with webcomponents 1.0.6 in firefox

[2017-08-07 19:46] ronnyroeller commented on #109
Good one. Upgrade to webcomponents 1.0.6 seems to solve the issue.

[2017-08-08 08:17] erikkroes commented on #8
@robdodson So the "official" solution right now is `aria-hidden` or a screen reader only span? Then this issue can be closed right?

[2017-08-08 15:56] #8 closed, assigned to nobody

[2017-08-08 19:55] notwaldorf commented on #109
This should be fixed with the new web components release, closing.

[2017-08-08 19:55] #109 closed, assigned to nobody

[2017-08-30 07:14] victor-perez opened #111 "Error in Edge ( 14 ) on WIN10 when you use iron-icon while using polymer-webpack-loader"
### Description
I reported this bug first at [polymer-webpack-loader](https://github.com/webpack-contrib/polymer-webpack-loader) under https://github.com/webpack-contrib/polymer-webpack-loader/issues/58 but I found out this more `iron-icon` problem then a `polymer-webpack-loader` problem or at least it can be fixed easly in `iron-icon`

### Expected outcome
that `iron-icon` works correctly when yo

[2017-09-07 19:20] bicknellr commented on #90
Is `overflow: hidden;` sufficient? https://jsbin.com/vanikumobe/edit?html,output

[2017-11-05 18:57] Punk-UnDeaD opened #113 "Move template to js"
What about move all <template> to _template.
If this is done for all components and application builded to one js file, firefox has badass improve performance.

[2017-11-05 18:58] Punk-UnDeaD opened #114 "Move <template> to _template."
What about move all `<template>` to _template?
If this is done and application builded to one js file, firefox has badass improve performance

[2017-11-14 22:23] notwaldorf commented on #113
This is not how Polymer Elements are written -- one of the biggest pluses of Polymer is that you can write your template in html. If you want to write everything in JS, maybe look at something like lit-html? https://github.com/PolymerLabs/lit-html

[2017-11-15 10:22] Punk-UnDeaD commented on #113
Do you hate Firefox users and web-depelopers so much that you think that they should suffer for the sake of the standart?

[2017-11-15 18:44] #113 closed, assigned to nobody

[2017-11-15 18:50] notwaldorf commented on #113
A couple of things. First, Polymer is a library, not a standard. This has nothing to do with Web Components (a standard) but the correct way to write a Polymer element (with the library).
 1. `_template` is a private variable used by Polymer in caching the template for an element. However, Polymer usually does work before saving the template in there (for styling and data binding) so saving it dir

[2017-11-15 18:53] notwaldorf commented on #114
I've already answered and closed this in #113. Reopening issues won't get you different answers, but might get you banned from the org.

[2017-11-15 18:53] #114 closed, assigned to nobody

[2017-11-19 12:33] #47 closed, assigned to nobody

[2017-11-27 15:34] AlbertoFdzM commented on #81
Could the attribute "title" be a workaround for this?

[2017-12-02 09:13] tomalec opened #117 "Where can I find API docs"
### Description

Github page links to https://www.webcomponents.org/element/PolymerElements/iron-icon

### Expected outcome
I would like to see API  described, like attribute I can set, their default values and behavior.

### Actual outcome
There is no such thing.

### Live Demo

https://www.webcomponents.org/element/PolymerElements/iron-icon

### Steps to reproduce

1. Open https://github.com/Pol

[2017-12-05 20:22] notwaldorf commented on #117
If you click on `iron-icon` in the "Elements" section, you get to the docs: https://www.webcomponents.org/element/PolymerElements/iron-icon/elements/iron-icon

[2017-12-05 20:22] #117 closed, assigned to nobody

[2017-12-28 21:09] csakaszamok opened #118 "iron-icon color (polymer 2)"
### Description
How can I colorize the iron icon (with polymer css variable) if it load an external image (like png, svg)?
I set the `--iron-icon-fill-color` variable in css section, but it seems not works for me.

### Expected outcome

red icons

### Actual outcome

black icons:
![image](https://user-images.githubusercontent.com/5373500/34423266-1bba9c38-ec1b-11e7-86ba-ec3747e2193d.png)

### Live

[2018-01-05 05:50] ReverendJimmyLuv opened #119 "nge colorof iron icon"
### Description

### Expected outcome

### Actual outcome

### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

[2018-01-05 05:51] #119 closed, assigned to nobody

[2018-02-01 02:06] kevinpschaaf opened #120 "Perf regression in 2.x"
### Description
Due to [changes in 2.x around how `undefined` properties are handled in multi-prop observers](https://www.polymer-project.org/2.0/docs/upgrade#update-observers), a simple usage of `iron-icon` can result in the SVG being cloned 5 times, rather than once, which shows up as a serious performance regression. The element should be updated to take into account the new `undefined` rules i

[2018-02-06 09:50] KeithHenry commented on #118
This is a limitation of SVGs.

When using an iconset the SVG is embedded in the page and cascades style information. When using a src path the SVG is added in an `<img>` and gets its own private style tree.

The fix would be for `<iron-icon>` to treat SVG differently from bitmap images - by embedding the SVG in the page.

The easiest way to do with is with a `<use>`:
[code]
However, this only work

[2018-02-08 09:00] rpapeters opened #122 "default value setting of _meta property causes 'this._meta.byKey' undefined error"
### Description

The iron-icon element causes a 'this._meta.byKey is not a function' error. The value of the _meta property gets a default value by creating an iron-meta element. Creation of this iron-meta element might occur even before the iron-meta element has been defined in the customElementRegistry.

### Expected outcome
No error happening.

### Actual outcome
'this._meta.byKey is not a func

[2018-09-20 09:05] nika-begiashvili opened #132 "iron-meta version"
please update iron-meta to v3.0.1 to fix dependency duplication problem with other iron elements

[2018-09-20 09:09] #132 closed, assigned to nobody

[2019-01-22 18:13] nicolethenerd opened #133 "iron-icon does not work in Firefox"
### Description
The demo at https://www.webcomponents.org/element/@polymer/iron-icon/demo/demo/index.html does not run in Firefox.

### Expected outcome

The demo works in Firefox.

### Actual outcome

The icons do not appear.

### Live Demo
https://www.webcomponents.org/element/@polymer/iron-icon/demo/demo/index.html

Not sure if this is an instance of bug #122 ? I don't see anything in the conso

[2019-01-31 23:48] nicolethenerd commented on #122
This can be reproduced consistently in Firefox. However, the recommended fix doesn't seem to work - it breaks iron-icon for me entirely.

[2019-02-27 18:01] ankon opened #135 "Github description points to bower docs"
### Description

The "description" of the github project mentions the bower docs: https://webcomponents.org/element/PolymerElements/iron-icon

The link does forward to the correct place (https://www.webcomponents.org/element/@polymer/iron-icon), but it does render a big red warning. Obvious reaction is then to click on the first visible "good link", which points to the same thing.

[2019-03-14 05:48] bsutton opened #136 "IronIcon doesn't work with @Id binding."
### Description
I've built a webcomponent using the Vaadin Designer.

The webcomponent contains an IronIcon such as:
[code]

In my Java class I'm trying to use the @Id to bind to the ironicon.

The binding fails as IronIcon does not have a no-arg public constructor.

### Expected outcome

I should be able to bind an IronIcon in a html webcomponent to a Java IronIcon instance using the @Id notation

[2019-03-22 09:53] madhur29shah87 commented on #122
Have this issue in Polymer 3 Angular 7/ Angular 5 integration after following guideline for integration https://www.npmjs.com/package/@codebakery/origami
Issue can be reproduced on Chrome as well.

[2019-03-22 19:15] nicolethenerd commented on #122
I ended up resolving this by removing the Polymer v1 web components Polyfill, which I no longer needed since I had upgraded to Polymer 2. Check to make sure you're not still including an old polyfill.

[2019-05-27 18:43] abraham opened #137 "What icons are supported"
### Description

I got look at the documentation on [WebComponents.org](https://www.webcomponents.org/element/@polymer/iron-icon), [npm](https://www.npmjs.com/package/@polymer/iron-icon), and [GitHub](https://github.com/PolymerElements/iron-icon) to find out what icons are available. There are no lists of icons or even any mention of which icon set is used.

### Expected outcome

The documentation

[2019-08-02 05:55] sunc9oa commented on #133
I got same issue when I use iron-icon element, it show `Error: this._meta.byKey is not a function` error message.
I try to import iron-meta before iron-icon and the issue be solved, but I don't why.

[code]
Hope this help.

[2020-02-07 14:47] NickdeK commented on #133
If you use the git repo instead of the npm repo in your package.json it also solves the problem. I think the authors just need to make a new release to solve this.

[2022-01-29 18:22] #97 closed, assigned to nobody